<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello There!</title>
  </head>
  <body>
    <% var description = "<h3>descripttion 1</h3> <p>this is 1st descripttion!</p>" %>

        <%= description %>
        <hr>
        <%- description %>
  </body>
</html>
